.AddCarFormDiv
{

}

.AddCarForm
{
    margin-top: 60px;
    margin-left: 50px;
    text-align: center;
    font-display: calc(10px + 2vmin);
    justify-content: center;
    justify-items: center;
    border: 2.5px solid green;
    font-size: calc(10px + 2vmin);
    width: 400px;
    height: 500px;
}

.OwnerEmail , .CarName , .CarType , .CarNumber , .CarColour
{
    align-self : center;
    margin-top: 50px;
    width: 250px;
    height: 30px;
    font-weight: 40px;
    border-bottom: 2.5px solid black;
    border-top: 0px solid;
    border-left: 0px solid;
    border-right: 0px solid;
    font-size: medium;
    background-color: white;
    text-decoration-color: black;
}
.AddCarButton
{
    align-self: center;
    font-size: large;
    font-weight: bold;
    width: 90px;
    height: 40px;
    margin-top: 40px;
    color: white;
    background-color: green;
}

.DisplayCarByEmailDiv
{
    margin-top: -530px;
    margin-left: 800px;
    justify-content: center;
    width: 500px;
    height: auto;
}
.WashButton
{
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

.CardForCar
{
    border: 3px solid Green;
    border-radius: 35px;
}